<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, width=device-width" name="viewport">
    <title><%= title %></title>

    <!-- css -->
    <link href="material_design/css/base.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- favicon -->
    <!-- ... -->

    <!-- ie -->
    <!--[if lt IE 9]>
    <script src="material_design/js/html5shiv.js" type="text/javascript"></script>
    <script src="material_design/js/respond.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="avoid-fout">

<%- body %>

<script src="material_design/js/base.min.js" type="text/javascript"></script>
</body>
</html>