<div>
    <div>Dear <%= local.name %>,</div>
    <br>
    <div>
        Thank you for your signing up for the Demo website. Please click the link bellow for activateyour account:
    </div>
    <div>
        <a href="http://localhost:3000/welcome/<%= _id %>">Welcome to Demo website</a>
    </div>
    <div>
        Thanks again for joining. Hope you have enjoy it. If you have any questions or comments, fell free to contact us.
    </div>
    <div>Thanks and Regards,</div>
    <div>Gà rù</div>
</div>